<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>OpsGuard</title>
    <ResourcePreloader />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["OpsGuard.Web.styles.css"]" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <ReconnectModal />
    <script src="settings.js"></script>
    <script src="ops-input.js"></script>
    <script src="diagnostic-stream.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
